GITHUB_TOKEN=
GITHUB_OWNER=modusopsai
GITHUB_REPO=notion-hackathon

NOTION_API_TOKEN=
SENTRY_NOTION_API_TOKEN=
NOTION_SENTRY_DATABASE_ID=
SENTRY_NOTION_DATABASE_ID=

SENTRY_AUTH_TOKEN=
SENTRY_ORG_SLUG=
SENTRY_PROJECT_SLUGS=
SENTRY_WEBHOOK_CLIENT_SECRET=

GRANOLA_API_KEY=
GRANOLA_INCLUDE_TRANSCRIPT=false
